Middleware/Service References/VolleyballService/VolleyballService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VolleyballService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54293/VolleyballService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54293/VolleyballService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54293/VolleyballService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54293/VolleyballService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Middleware" />
      <xsd:import schemaLocation="http://localhost:54293/VolleyballService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVolleyballService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadPlayers_Team_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPlayers_Team" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadPlayers_Team_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPlayers_TeamResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadGames_Team_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGames_Team" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadGames_Team_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGames_TeamResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadTeams_Player_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadTeams_Player" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadTeams_Player_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadTeams_PlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadGames_Player_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGames_Player" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadGames_Player_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGames_PlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadTeams_Game_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadTeams_Game" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadTeams_Game_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadTeams_GameResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadPlaeyrs_Game_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPlaeyrs_Game" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadPlaeyrs_Game_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPlaeyrs_GameResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_IsIdentifiedDuplicate_InputMessage">
    <wsdl:part name="parameters" element="tns:IsIdentifiedDuplicate" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_IsIdentifiedDuplicate_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsIdentifiedDuplicateResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_FindDuplicatedPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDuplicatedPlayers" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_FindDuplicatedPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDuplicatedPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_TryCreateTable_InputMessage">
    <wsdl:part name="parameters" element="tns:TryCreateTable" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_TryCreateTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryCreateTableResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadPlayersInfoInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPlayersInfoInGame" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_ReadPlayersInfoInGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPlayersInfoInGameResponse" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_SaveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="IVolleyballService_SaveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IVolleyballService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/Insert" message="tns:IVolleyballService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/InsertResponse" message="tns:IVolleyballService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/Delete" message="tns:IVolleyballService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/DeleteResponse" message="tns:IVolleyballService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/Update" message="tns:IVolleyballService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/UpdateResponse" message="tns:IVolleyballService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/Read" message="tns:IVolleyballService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadResponse" message="tns:IVolleyballService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadAll" message="tns:IVolleyballService_ReadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadAllResponse" message="tns:IVolleyballService_ReadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPlayers_Team">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadPlayers_Team" message="tns:IVolleyballService_ReadPlayers_Team_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadPlayers_TeamResponse" message="tns:IVolleyballService_ReadPlayers_Team_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGames_Team">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadGames_Team" message="tns:IVolleyballService_ReadGames_Team_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadGames_TeamResponse" message="tns:IVolleyballService_ReadGames_Team_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadTeams_Player">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadTeams_Player" message="tns:IVolleyballService_ReadTeams_Player_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadTeams_PlayerResponse" message="tns:IVolleyballService_ReadTeams_Player_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGames_Player">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadGames_Player" message="tns:IVolleyballService_ReadGames_Player_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadGames_PlayerResponse" message="tns:IVolleyballService_ReadGames_Player_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadTeams_Game">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadTeams_Game" message="tns:IVolleyballService_ReadTeams_Game_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadTeams_GameResponse" message="tns:IVolleyballService_ReadTeams_Game_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPlaeyrs_Game">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadPlaeyrs_Game" message="tns:IVolleyballService_ReadPlaeyrs_Game_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadPlaeyrs_GameResponse" message="tns:IVolleyballService_ReadPlaeyrs_Game_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsIdentifiedDuplicate">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/IsIdentifiedDuplicate" message="tns:IVolleyballService_IsIdentifiedDuplicate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/IsIdentifiedDuplicateResponse" message="tns:IVolleyballService_IsIdentifiedDuplicate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDuplicatedPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/FindDuplicatedPlayers" message="tns:IVolleyballService_FindDuplicatedPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/FindDuplicatedPlayersResponse" message="tns:IVolleyballService_FindDuplicatedPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryCreateTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/TryCreateTable" message="tns:IVolleyballService_TryCreateTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/TryCreateTableResponse" message="tns:IVolleyballService_TryCreateTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPlayersInfoInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/ReadPlayersInfoInGame" message="tns:IVolleyballService_ReadPlayersInfoInGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/ReadPlayersInfoInGameResponse" message="tns:IVolleyballService_ReadPlayersInfoInGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolleyballService/SaveImage" message="tns:IVolleyballService_SaveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolleyballService/SaveImageResponse" message="tns:IVolleyballService_SaveImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVolleyballService" type="tns:IVolleyballService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPlayers_Team">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadPlayers_Team" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGames_Team">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadGames_Team" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTeams_Player">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadTeams_Player" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGames_Player">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadGames_Player" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTeams_Game">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadTeams_Game" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPlaeyrs_Game">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadPlaeyrs_Game" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsIdentifiedDuplicate">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/IsIdentifiedDuplicate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDuplicatedPlayers">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/FindDuplicatedPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryCreateTable">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/TryCreateTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPlayersInfoInGame">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/ReadPlayersInfoInGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap:operation soapAction="http://tempuri.org/IVolleyballService/SaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VolleyballService">
    <wsdl:port name="BasicHttpBinding_IVolleyballService" binding="tns:BasicHttpBinding_IVolleyballService">
      <soap:address location="http://localhost:54293/VolleyballService.svc/MiddlewareHost" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>